<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="/style.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Souce+Code+Pro&display=Roboto&display=swap"
    rel="stylesheet">
  <title>Kevin's FCC Whoami Project</title>
</head>
<body>
<header>
  <h1>Request Header Parser Microservice</h1>
</header>
<main>
  <section>
    <h2>Examples Usage</h2>
    <div class="preview links">
      <ul>
        <li><a href="api/whoami">[baseUrl]/api/whoami</a></li>
      </ul>
    </div>
  </section>
  <section>
    <h2>Example Output</h2>
    <div class="preview">
      <ul>
        {
        <li>"ipaddress": "162.158.158.214"</li>
        <li>"language": "en-US,en;q=0.5"</li>
        <li>"software": "Mozilla/5.0 (Windows NT 10.0; Win64; rv:109.0) Gecko/20100101 Firefox/119.0"</li>
        }
      </ul>

    </div>
  </section>
</main>

</body>
</html>
